.site-footer .site-info .footer-text {
	display: block;
}

.footer-navigation {
	margin: 1em 0 0;
}

.footer-navigation-menu {
	margin: 0;
	padding: 0;
	color: #353535;
	list-style: none;
	font-size: 15px;
	font-size: 0.9375rem;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.footer-navigation-menu li {
	margin: 0;
}

.footer-navigation-menu a {
	display: block;
	margin: 0;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
}

.footer-navigation-menu li:last-child a {
	border-bottom: none;
}

.footer-navigation-menu a:link,
.footer-navigation-menu a:visited {
	color: #353535;
	text-decoration: none;
}

.footer-navigation-menu a:hover,
.footer-navigation-menu a:active {
	color: #3377bb;
}

.footer-navigation-menu li.current-menu-item > a {
	text-decoration: underline;
}

@media only screen and (min-width: 40em) {
	.footer-navigation-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
	}

	.footer-navigation-menu a {
		text-align: left;
	}
}

@media only screen and (min-width: 57.5em) {
	.site-footer {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
	}

	.site-footer .footer-navigation {
		order: 2;
		margin: 0.5em 0 0;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
	}

	.site-footer .site-info {
		flex-grow: 1;
		order: 1;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
	}
}
