.footer-content {
	padding: 1.5em 0;
	border-top: 6px solid #353535;
	text-align: center;
}

.footer-social-menu {
	margin-top: 0.5em;
}

.footer-social-menu .social-icons-menu {
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}

/* Footer Widgets */
.footer-widgets-background {
	padding: 1.5em 0 0;
	border-top: 1px solid rgba(0,0,0,0.15);
}
